Repository teocrafters/tone-assist: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,html,css}": ["prettier --write"]
}

chore(ai): setup rules, subagents, commands
  .agents/quality-standards.md
  .claude/agents/audio-test.md
  .claude/agents/canvas-optimizer.md
  .claude/agents/code-reviewer.md
  .claude/commands/git/create-commit.md
  .claude/output-styles/detailed.md
  .claude/output-styles/quick-fix.md
  .claude/output-styles/standard.md
  CLAUDE.md
Due: prettier --write

chore: update the commitlint config
  CLAUDE.md
  commitlint.config.js
Due: eslint --fix, prettier --write

chore(config): rebrand project from RTA to ToneAssist
  .agents/quality-standards.md
  .claude/commands/git/create-commit.md
  .claude/output-styles/standard.md
  CLAUDE.md
  README.md
  commitlint.config.js
  index.html
  package.json
  public/manifest.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: option to set fixed distance between fq selectors
  .devcontainer/devcontainer.json
  package-lock.json
  src/components/RtaCanvas.vue
  src/components/ui/PresetMenu.vue
  src/components/ui/RtaOverlay.vue
  src/composables/useAudioGraph.ts
  src/composables/useCanvasInteractions.ts
  src/composables/useCanvasUI.ts
  src/composables/useRtaCanvas.ts
  src/composables/useRtaRenderer.ts
  src/stores/audioStore.ts
Due: eslint --fix, prettier --write

refactor: remove PresetMenu component and related preset functionality
  src/components/RtaCanvas.vue
  src/components/ui/PresetMenu.vue
  src/stores/audioStore.ts
Due: eslint --fix, prettier --write

fix: cr copilot
  src/components/RtaCanvas.vue
  src/composables/useCanvasInteractions.ts
Due: eslint --fix, prettier --write

fix: cr copilot
  src/components/RtaCanvas.vue
Due: eslint --fix, prettier --write

feat: option to set fixed distance between fq selectors (#1)
  .devcontainer/devcontainer.json
  package-lock.json
  src/components/RtaCanvas.vue
  src/components/ui/RtaOverlay.vue
  src/composables/useAudioGraph.ts
  src/composables/useCanvasInteractions.ts
  src/composables/useCanvasUI.ts
  src/composables/useRtaCanvas.ts
  src/composables/useRtaRenderer.ts
  src/stores/audioStore.ts
Due: eslint --fix, prettier --write

fix: error in imports
  src/composables/useCanvasUI.ts
  src/constants/canvas.ts
Due: eslint --fix, prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: clean up
  .devcontainer/devcontainer.json
  .gitignore
Due: prettier --write

chore: set node version
  .nvmrc
Due: none

ci: init CI workflow
  .github/workflows/actions/init/action.yml
  .github/workflows/ci.yml
Due: none

ci: init renovate
  renovate.json
Due: prettier --write
